spring:

#    jpa:
#        hibernate:
#            ddl-auto: create-drop
#        properties:
#            hibernate:
#                format_sql: true
#                show_sql: true
#        database-platform: org.hibernate.dialect.H2Dialect
#
#    h2:
#        console:
#            enabled: true
#
#    datasource:
#        url: jdbc:h2:mem:testdb
#        driverClassName: org.h2.Driver
#        username: sa
#        password: